{"openapi":"3.0.1","info":{"title":"common-platform-document-mgmt","description":"Enterprise Content Management Core Application","contact":{"name":"Catalis Development","email":"dev@catalis.com"},"version":"1.0.0"},"servers":[{"url":"http://core.catalis.vc/ecm","description":"Development Environment"},{"url":"/","description":"Local Development Environment"}],"tags":[{"name":"Notification Logs","description":"API for managing notification logs"},{"name":"Reference Types","description":"API for managing reference types"},{"name":"Signature Statuses","description":"API for managing signature statuses"},{"name":"Notification Types","description":"API for managing notification types"},{"name":"Signature Proofs","description":"API for managing signature proofs"},{"name":"Proof Types","description":"API for managing proof types"},{"name":"Signature Request Statuses","description":"API for managing signature request statuses"},{"name":"Signature Requests","description":"API for managing signature requests"},{"name":"Storage","description":"API for file storage operations"},{"name":"Tags","description":"API for managing tags"},{"name":"Document Types","description":"API for managing document types"},{"name":"Files","description":"API for managing file metadata"},{"name":"Documents","description":"API for managing documents and related resources"},{"name":"E-Signatures","description":"API for e-signature operations"},{"name":"Signature Signers","description":"API for managing signature signers"},{"name":"Document Statuses","description":"API for managing document statuses"}],"paths":{"/api/v1/tags/{id}":{"get":{"tags":["Tags"],"summary":"Get tag by ID","description":"Retrieves a tag by its unique identifier","operationId":"getTagById","parameters":[{"name":"id","in":"path","description":"Tag ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Tag not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagDTO"}}}},"200":{"description":"Tag found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagDTO"}}}}}},"put":{"tags":["Tags"],"summary":"Update tag","description":"Updates an existing tag","operationId":"updateTag","parameters":[{"name":"id","in":"path","description":"Tag ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDTO"}}},"required":true},"responses":{"404":{"description":"Tag not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDTO"}}}},"200":{"description":"Tag updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDTO"}}}},"400":{"description":"Invalid tag data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDTO"}}}}}},"delete":{"tags":["Tags"],"summary":"Delete tag","description":"Deletes a tag by its ID","operationId":"deleteTag","parameters":[{"name":"id","in":"path","description":"Tag ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Tag not found"},"500":{"description":"Internal server error"},"204":{"description":"Tag deleted successfully"}}}},"/api/v1/signature-statuses/{id}":{"get":{"tags":["Signature Statuses"],"summary":"Get signature status by ID","description":"Retrieves a signature status by its unique identifier","operationId":"getSignatureStatusById","parameters":[{"name":"id","in":"path","description":"Signature status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Signature status not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureStatusDTO"}}}},"200":{"description":"Signature status found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureStatusDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureStatusDTO"}}}}}},"put":{"tags":["Signature Statuses"],"summary":"Update signature status","description":"Updates an existing signature status","operationId":"updateSignatureStatus","parameters":[{"name":"id","in":"path","description":"Signature status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureStatusDTO"}}},"required":true},"responses":{"400":{"description":"Invalid signature status data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureStatusDTO"}}}},"404":{"description":"Signature status not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureStatusDTO"}}}},"200":{"description":"Signature status updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureStatusDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureStatusDTO"}}}}}},"delete":{"tags":["Signature Statuses"],"summary":"Delete signature status","description":"Deletes a signature status by its ID","operationId":"deleteSignatureStatus","parameters":[{"name":"id","in":"path","description":"Signature status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Signature status not found"},"204":{"description":"Signature status deleted successfully"},"500":{"description":"Internal server error"}}}},"/api/v1/signature-signers/{id}":{"get":{"tags":["Signature Signers"],"summary":"Get signature signer by ID","description":"Retrieves a signature signer by its unique identifier","operationId":"getSignatureSignerById","parameters":[{"name":"id","in":"path","description":"Signature signer ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureSignerDTO"}}}},"404":{"description":"Signature signer not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureSignerDTO"}}}},"200":{"description":"Signature signer found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureSignerDTO"}}}}}},"put":{"tags":["Signature Signers"],"summary":"Update signature signer","description":"Updates an existing signature signer","operationId":"updateSignatureSigner","parameters":[{"name":"id","in":"path","description":"Signature signer ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureSignerDTO"}}},"required":true},"responses":{"200":{"description":"Signature signer updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureSignerDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureSignerDTO"}}}},"404":{"description":"Signature signer not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureSignerDTO"}}}},"400":{"description":"Invalid signature signer data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureSignerDTO"}}}}}},"delete":{"tags":["Signature Signers"],"summary":"Delete signature signer","description":"Deletes a signature signer by its ID","operationId":"deleteSignatureSigner","parameters":[{"name":"id","in":"path","description":"Signature signer ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error"},"204":{"description":"Signature signer deleted successfully"},"404":{"description":"Signature signer not found"}}}},"/api/v1/signature-requests/{id}":{"get":{"tags":["Signature Requests"],"summary":"Get signature request by ID","description":"Retrieves a signature request by its unique identifier","operationId":"getSignatureRequestById","parameters":[{"name":"id","in":"path","description":"Signature request ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Signature request not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureRequestDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureRequestDTO"}}}},"200":{"description":"Signature request found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestDTO"}}}}}},"put":{"tags":["Signature Requests"],"summary":"Update signature request","description":"Updates an existing signature request","operationId":"updateSignatureRequest","parameters":[{"name":"id","in":"path","description":"Signature request ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestDTO"}}},"required":true},"responses":{"404":{"description":"Signature request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestDTO"}}}},"400":{"description":"Invalid signature request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestDTO"}}}},"200":{"description":"Signature request updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestDTO"}}}}}},"delete":{"tags":["Signature Requests"],"summary":"Delete signature request","description":"Deletes a signature request by its ID","operationId":"deleteSignatureRequest","parameters":[{"name":"id","in":"path","description":"Signature request ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Signature request not found"},"500":{"description":"Internal server error"},"204":{"description":"Signature request deleted successfully"}}}},"/api/v1/signature-request-statuses/{id}":{"get":{"tags":["Signature Request Statuses"],"summary":"Get signature request status by ID","description":"Retrieves a signature request status by its unique identifier","operationId":"getSignatureRequestStatusById","parameters":[{"name":"id","in":"path","description":"Signature request status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Signature request status found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestStatusDTO"}}}},"404":{"description":"Signature request status not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureRequestStatusDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureRequestStatusDTO"}}}}}},"put":{"tags":["Signature Request Statuses"],"summary":"Update signature request status","description":"Updates an existing signature request status","operationId":"updateSignatureRequestStatus","parameters":[{"name":"id","in":"path","description":"Signature request status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestStatusDTO"}}},"required":true},"responses":{"200":{"description":"Signature request status updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestStatusDTO"}}}},"400":{"description":"Invalid signature request status data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestStatusDTO"}}}},"404":{"description":"Signature request status not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestStatusDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureRequestStatusDTO"}}}}}},"delete":{"tags":["Signature Request Statuses"],"summary":"Delete signature request status","description":"Deletes a signature request status by its ID","operationId":"deleteSignatureRequestStatus","parameters":[{"name":"id","in":"path","description":"Signature request status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Signature request status deleted successfully"},"404":{"description":"Signature request status not found"},"500":{"description":"Internal server error"}}}},"/api/v1/signature-proofs/{id}":{"get":{"tags":["Signature Proofs"],"summary":"Get signature proof by ID","description":"Retrieves a signature proof by its unique identifier","operationId":"getSignatureProofById","parameters":[{"name":"id","in":"path","description":"Signature proof ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Signature proof found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureProofDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureProofDTO"}}}},"404":{"description":"Signature proof not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignatureProofDTO"}}}}}},"put":{"tags":["Signature Proofs"],"summary":"Update signature proof","description":"Updates an existing signature proof","operationId":"updateSignatureProof","parameters":[{"name":"id","in":"path","description":"Signature proof ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureProofDTO"}}},"required":true},"responses":{"200":{"description":"Signature proof updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureProofDTO"}}}},"400":{"description":"Invalid signature proof data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureProofDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureProofDTO"}}}},"404":{"description":"Signature proof not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignatureProofDTO"}}}}}},"delete":{"tags":["Signature Proofs"],"summary":"Delete signature proof","description":"Deletes a signature proof by its ID","operationId":"deleteSignatureProof","parameters":[{"name":"id","in":"path","description":"Signature proof ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Signature proof deleted successfully"},"500":{"description":"Internal server error"},"404":{"description":"Signature proof not found"}}}},"/api/v1/reference-types/{id}":{"get":{"tags":["Reference Types"],"summary":"Get reference type by ID","description":"Retrieves a reference type by its unique identifier","operationId":"getReferenceTypeById","parameters":[{"name":"id","in":"path","description":"Reference type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferenceTypeDTO"}}}},"404":{"description":"Reference type not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferenceTypeDTO"}}}},"200":{"description":"Reference type found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceTypeDTO"}}}}}},"put":{"tags":["Reference Types"],"summary":"Update reference type","description":"Updates an existing reference type","operationId":"updateReferenceType","parameters":[{"name":"id","in":"path","description":"Reference type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceTypeDTO"}}},"required":true},"responses":{"200":{"description":"Reference type updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceTypeDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceTypeDTO"}}}},"404":{"description":"Reference type not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceTypeDTO"}}}},"400":{"description":"Invalid reference type data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferenceTypeDTO"}}}}}},"delete":{"tags":["Reference Types"],"summary":"Delete reference type","description":"Deletes a reference type by its ID","operationId":"deleteReferenceType","parameters":[{"name":"id","in":"path","description":"Reference type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Reference type deleted successfully"},"500":{"description":"Internal server error"},"404":{"description":"Reference type not found"}}}},"/api/v1/proof-types/{id}":{"get":{"tags":["Proof Types"],"summary":"Get proof type by ID","description":"Retrieves a proof type by its unique identifier","operationId":"getProofTypeById","parameters":[{"name":"id","in":"path","description":"Proof type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Proof type not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProofTypeDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProofTypeDTO"}}}},"200":{"description":"Proof type found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProofTypeDTO"}}}}}},"put":{"tags":["Proof Types"],"summary":"Update proof type","description":"Updates an existing proof type","operationId":"updateProofType","parameters":[{"name":"id","in":"path","description":"Proof type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProofTypeDTO"}}},"required":true},"responses":{"400":{"description":"Invalid proof type data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProofTypeDTO"}}}},"404":{"description":"Proof type not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProofTypeDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProofTypeDTO"}}}},"200":{"description":"Proof type updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProofTypeDTO"}}}}}},"delete":{"tags":["Proof Types"],"summary":"Delete proof type","description":"Deletes a proof type by its ID","operationId":"deleteProofType","parameters":[{"name":"id","in":"path","description":"Proof type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Proof type not found"},"204":{"description":"Proof type deleted successfully"},"500":{"description":"Internal server error"}}}},"/api/v1/notification-types/{id}":{"get":{"tags":["Notification Types"],"summary":"Get notification type by ID","description":"Retrieves a notification type by its unique identifier","operationId":"getNotificationTypeById","parameters":[{"name":"id","in":"path","description":"Notification type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationTypeDTO"}}}},"404":{"description":"Notification type not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationTypeDTO"}}}},"200":{"description":"Notification type found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationTypeDTO"}}}}}},"put":{"tags":["Notification Types"],"summary":"Update notification type","description":"Updates an existing notification type","operationId":"updateNotificationType","parameters":[{"name":"id","in":"path","description":"Notification type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationTypeDTO"}}},"required":true},"responses":{"400":{"description":"Invalid notification type data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationTypeDTO"}}}},"200":{"description":"Notification type updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationTypeDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationTypeDTO"}}}},"404":{"description":"Notification type not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationTypeDTO"}}}}}},"delete":{"tags":["Notification Types"],"summary":"Delete notification type","description":"Deletes a notification type by its ID","operationId":"deleteNotificationType","parameters":[{"name":"id","in":"path","description":"Notification type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Notification type deleted successfully"},"500":{"description":"Internal server error"},"404":{"description":"Notification type not found"}}}},"/api/v1/notification-logs/{id}":{"get":{"tags":["Notification Logs"],"summary":"Get notification log by ID","description":"Retrieves a notification log by its unique identifier","operationId":"getNotificationLogById","parameters":[{"name":"id","in":"path","description":"Notification log ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Notification log found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationLogDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationLogDTO"}}}},"404":{"description":"Notification log not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationLogDTO"}}}}}},"put":{"tags":["Notification Logs"],"summary":"Update notification log","description":"Updates an existing notification log","operationId":"updateNotificationLog","parameters":[{"name":"id","in":"path","description":"Notification log ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationLogDTO"}}},"required":true},"responses":{"400":{"description":"Invalid notification log data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationLogDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationLogDTO"}}}},"404":{"description":"Notification log not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationLogDTO"}}}},"200":{"description":"Notification log updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationLogDTO"}}}}}},"delete":{"tags":["Notification Logs"],"summary":"Delete notification log","description":"Deletes a notification log by its ID","operationId":"deleteNotificationLog","parameters":[{"name":"id","in":"path","description":"Notification log ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error"},"404":{"description":"Notification log not found"},"204":{"description":"Notification log deleted successfully"}}}},"/api/v1/files/{id}":{"get":{"tags":["Files"],"summary":"Get file by ID","description":"Retrieves file metadata by its unique identifier","operationId":"getFileById","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"File found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileDTO"}}}},"404":{"description":"File not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileDTO"}}}}}},"put":{"tags":["Files"],"summary":"Update file","description":"Updates an existing file metadata entry","operationId":"updateFile","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDTO"}}},"required":true},"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDTO"}}}},"200":{"description":"File updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDTO"}}}},"404":{"description":"File not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDTO"}}}},"400":{"description":"Invalid file data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDTO"}}}}}},"delete":{"tags":["Files"],"summary":"Delete file","description":"Deletes a file by its ID","operationId":"deleteFile_1","parameters":[{"name":"id","in":"path","description":"File ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"File deleted successfully"},"500":{"description":"Internal server error"},"404":{"description":"File not found"}}}},"/api/v1/documents/{id}":{"get":{"tags":["Documents"],"summary":"Get document by ID","description":"Retrieves a document by its unique identifier","operationId":"getDocumentById","parameters":[{"name":"id","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Document not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}},"200":{"description":"Document found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}}}},"put":{"tags":["Documents"],"summary":"Update document","description":"Updates an existing document","operationId":"updateDocument","parameters":[{"name":"id","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}},"required":true},"responses":{"400":{"description":"Invalid document data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}},"200":{"description":"Document updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}},"404":{"description":"Document not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}}}},"delete":{"tags":["Documents"],"summary":"Delete document","description":"Deletes a document by its ID","operationId":"deleteDocument","parameters":[{"name":"id","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Document not found"},"500":{"description":"Internal server error"},"204":{"description":"Document deleted successfully"}}}},"/api/v1/documents/{documentId}/versions/{versionId}":{"get":{"tags":["Documents"],"summary":"Get document version by ID","description":"Retrieves a document version by its unique identifier","operationId":"getDocumentVersionById","parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"versionId","in":"path","description":"Version ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Document version not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVersionDTO"}}}},"200":{"description":"Document version found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentVersionDTO"}}}}}},"put":{"tags":["Documents"],"summary":"Update document version","description":"Updates an existing document version","operationId":"updateDocumentVersion","parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"versionId","in":"path","description":"Version ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionDTO"}}},"required":true},"responses":{"404":{"description":"Document version not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionDTO"}}}},"400":{"description":"Invalid document version data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionDTO"}}}},"200":{"description":"Document version updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentVersionDTO"}}}}}},"delete":{"tags":["Documents"],"summary":"Delete document version","description":"Deletes a document version by its ID","operationId":"deleteDocumentVersion","parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"versionId","in":"path","description":"Version ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Document version not found"},"500":{"description":"Internal server error"},"204":{"description":"Document version deleted successfully"}}}},"/api/v1/documents/{documentId}/references/{referenceId}":{"get":{"tags":["Documents"],"summary":"Get document reference by ID","description":"Retrieves a document reference by its unique identifier","operationId":"getDocumentReferenceById","parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"referenceId","in":"path","description":"Reference ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Document reference not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentReferenceDTO"}}}},"200":{"description":"Document reference found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentReferenceDTO"}}}}}},"put":{"tags":["Documents"],"summary":"Update document reference","description":"Updates an existing document reference","operationId":"updateDocumentReference","parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"referenceId","in":"path","description":"Reference ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceDTO"}}},"required":true},"responses":{"404":{"description":"Document reference not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceDTO"}}}},"200":{"description":"Document reference updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceDTO"}}}},"400":{"description":"Invalid document reference data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentReferenceDTO"}}}}}},"delete":{"tags":["Documents"],"summary":"Delete document reference","description":"Deletes a document reference by its ID","operationId":"deleteDocumentReference","parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"referenceId","in":"path","description":"Reference ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Document reference not found"},"500":{"description":"Internal server error"},"204":{"description":"Document reference deleted successfully"}}}},"/api/v1/document-types/{id}":{"get":{"tags":["Document Types"],"summary":"Get document type by ID","description":"Retrieves a document type by its unique identifier","operationId":"getDocumentTypeById","parameters":[{"name":"id","in":"path","description":"Document type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Document type not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentTypeDTO"}}}},"200":{"description":"Document type found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTypeDTO"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentTypeDTO"}}}}}},"put":{"tags":["Document Types"],"summary":"Update document type","description":"Updates an existing document type","operationId":"updateDocumentType","parameters":[{"name":"id","in":"path","description":"Document type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTypeDTO"}}},"required":true},"responses":{"404":{"description":"Document type not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTypeDTO"}}}},"400":{"description":"Invalid document type data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTypeDTO"}}}},"200":{"description":"Document type updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTypeDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTypeDTO"}}}}}},"delete":{"tags":["Document Types"],"summary":"Delete document type","description":"Deletes a document type by its ID","operationId":"deleteDocumentType","parameters":[{"name":"id","in":"path","description":"Document type ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Document type not found"},"204":{"description":"Document type deleted successfully"},"500":{"description":"Internal server error"}}}},"/api/v1/document-statuses/{id}":{"get":{"tags":["Document Statuses"],"summary":"Get document status by ID","description":"Retrieves a document status by its unique identifier","operationId":"getDocumentStatusById","parameters":[{"name":"id","in":"path","description":"Document status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentStatusDTO"}}}},"200":{"description":"Document status found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentStatusDTO"}}}},"404":{"description":"Document status not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentStatusDTO"}}}}}},"put":{"tags":["Document Statuses"],"summary":"Update document status","description":"Updates an existing document status","operationId":"updateDocumentStatus","parameters":[{"name":"id","in":"path","description":"Document status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentStatusDTO"}}},"required":true},"responses":{"400":{"description":"Invalid document status data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentStatusDTO"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentStatusDTO"}}}},"200":{"description":"Document status updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentStatusDTO"}}}},"404":{"description":"Document status not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentStatusDTO"}}}}}},"delete":{"tags":["Document Statuses"],"summary":"Delete document status","description":"Deletes a document status by its ID","operationId":"deleteDocumentStatus","parameters":[{"name":"id","in":"path","description":"Document status ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID","in":"header","description":"Identifier of the employee (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Service-Account-ID","in":"header","description":"Identifier of the service account (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Roles","in":"header","description":"Roles of the subject (CUSTOMER, ADMIN, CUSTOMER_SUPPORT, SUPERVISOR, MANAGER, BRANCH_STAFF, SERVICE_ACCOUNT), comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Auth-Scopes","in":"header","description":"OAuth2 scopes like contracts.read, accounts.write, comma-separated (optional)","required":false,"schema":{"type":"string"}},{"name":"X-Request-ID","in":"header","description":"Unique identifier for the request, used for traceability (optional)","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Document status deleted successfully"},"500":{"description":"Internal server error"},"404":{"description":"Document status not found"}}}},"/api/v1/tags/filter":{"post":{"tags":["Tags"],"summary":"Filter tags","description":"Filters tags based on provided criteria","operationId":"filterTags","parameters":[{"name":"X-Idempotency-Key","in":"header","description":"Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.","required":false,"schema":{"type":"string"}},{"name":"X-Party-ID","in":"header","description":"Identifier of the client (at least one of X-Party-ID, X-Employee-ID, or X-Service-Account-ID is required)","required":false,"schema":{"type":"string"}},{"name":"X-Employee-ID
[...]
